<div id="container" style="margin:auto; text-align: center;">
  <span style="font-size:35px;color:green;font-weight:bold">YES!</span>
  <div id="last_report">
    <h1><%= @last_report[1] %> @ <%= @last_report[0] %></h1>
    <p>Updated @ <%= @last_report[2] %></p>
  </div>
</div>